@Model int
<td>
    <a asp-action="Details" asp-route-id="@Model" class="btn btn-warning">Details</a>
</td>
<td>
    <a asp-action="Edit" asp-route-id="@Model" class="btn btn-success">Update</a>
</td>

<td>
    <a asp-action="Delete" asp-route-itemId="@Model" class="btn btn-danger"> Delete</a>
</td>
@* <!-- Button to trigger modal (must match modal ID) --> *@
@* <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteDepartment_@dept.Id"> *@
@*     Delete *@
@* </button> *@