@using IKEA.BLL.DTO_s
@model DepartmentDetailsDto


<!-- Bootstrap Tabs -->
<partial name="Partial/_DeleteDetailsPartial" model="Model" />
<div class="mt-4">
    <a asp-action="Index" class="btn btn-secondary">Back To list</a>
</div>